//font: https://fonts.google.com/specimen/Source+Sans+Pro

//font-family
$ff: 'Source Sans Pro', sans-serif;

//font-weight
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//font-size
$fs-lg: 4.375rem; //logo-name, titles
$fs-xmed: 3.438rem; //home page subtitle
$fs-med: 3.125rem; //recipe name/title - our best recipes
$fs-sm: 1.875rem; //homepage description, recipe name/title - featured recipes
$fs-xsm: 1.563rem; //recipe description - our best recipes
$fs-xxsm: 1.375rem; //recipe prep, cook, level - our best recipes
$fs-xxxsm: 1.25rem; //recipe prep, cook, level - featured recipes, footer legal

//colors
$clr-dark: hsl(200, 19%, 18%);
$clr-red: hsl(14, 69%, 63%);
$clr-dred: hsl(14, 59%, 47%);
$clr-nred: hsl(14, 86%, 30%);
$clr-white: hsl(0, 0%, 100%);
$clr-light-dark: hsl(205, 10%, 51%);





