@use '../scss/base/typography';
@use '../scss/abstracts/variables';
@use '../components/buttons';
@use '../pages/home';


//perfil imagen
.bg-perfil{
    img{
        
        width: 200px;
        height:200px;
        margin-left: 2rem;
        padding-bottom:2rem ;
        
    }
    background-color: variables.$clr-red;
   
    h1{
        @include typography.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-sm, variables.$clr-white);
        text-align: center;
        padding-bottom:2rem ;
    }
}

.sec-perfil{
    padding-top: 4rem;
    h1{
        @include typography.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-xmed, variables.$clr-nred);
        
        padding-bottom:2rem ;
        padding-top:2rem ;
    }

    h2{
        @include typography.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-xxsm, variables.$clr-dred);
        
        padding-bottom:2rem ;
        padding-top:2rem ;
    }
    button{
        border-radius: 2em;
        border-color: none;
        width: 10rem;
        
          
    }

    input{
        border-radius: 1em;
        border-width: 4px;
        border-color: variables.$clr-red;
        width: 50rem;
        height: 3rem;
        align-self: center;

        
        
    }
    a{
        @include typography.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-xxxsm, variables.$clr-nred);
        color: variables.$clr-nred;
        font-style: normal;
        font-family: variables.$ff;
        

    }
    p{
        @include typography.set-font(variables.$ff, variables.$fw-regular, variables.$fs-xsm, variables.$clr-dark);
    } 

}

.secodaryBg{
    h2{
        @include typography.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-xxsm, variables.$clr-dred);
        
        padding-bottom:2rem ;
        padding-top:2rem ;
    }
    background-color: variables.$clr-red;
    opacity: 50%;
    border-radius:2rem;
    
}

