@use '../abstracts/variables';
@use '../base/typography';

//buttons

@mixin btn-view($border, $bg, $color){
    margin: 0.2em;
    position: relative;
    display: block;
    place-items: center;
    border-radius: 0.5em;
    background-color: variables.$clr-dred;
    border: $border;
    padding: .2rem .2rem;
    text-decoration: none;
    font-family: variables.$ff;
    align-items: center;
    box-shadow: none;
    

}

@mixin btn-nred($border, $bg, $color){
    margin: 0.2em;
    position: relative;
    display: block;
    place-items: center;
    border-radius: 0.5em;
    background-color: variables.$clr-nred;
    border: $border;
    padding: .2rem .2rem;
    text-decoration: none;
    font-family: variables.$ff;
    align-items: center;
    box-shadow: none;
    

}
@mixin btn-ligt-red($border, $bg, $color){
    margin: 0.2em;
    position: relative;
    display: block;
    place-items: center;
    border-radius: 0.5em;
    background-color: variables.$clr-lred;
    border: $border;
    padding: .2rem .2rem;
    text-decoration: none;
    font-family: variables.$ff;
    font-weight: variables.$fw-semibold;
    align-items: center;
    box-shadow: none;
    margin-top: 3em;
    

}

@mixin btn-navlr($border, $bg, $color){
    margin: 0.2em;
    position: relative;
    display: block;
    place-items: center;
    border-radius: 0.5em;
    background-color: variables.$clr-red;
    border: $border;
    padding: .2rem .2rem;
    text-decoration: none;
    font-family: variables.$ff;
    align-items: center;
    box-shadow: none;
    

}

@mixin btn-navw($border, $bg, $color){
    margin: 0.2em;
    position: relative;
    display: block;
    place-items: center;
    border-radius: 0.5em;
    background-color: variables.$clr-white;
    border: $border;
    padding: .2rem .2rem;
    text-decoration: none;
    font-family: variables.$ff;
    align-items: center;
    box-shadow: none;
    

}