@use '../scss/base/typography';
@use '../abstracts/variables';
@use '../components/buttons';



.cont-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-view {
    position: relative;
    display: flex;
}

.container-slider {
    display: flex;
    padding: 2px;
    width: 1300px;
    height: 750px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider-img {
    margin: 3px;
    padding-right: 3rem;
    
    
}

.container-control {
    position: absolute;
    width: 50px;
    height: 70px;
    border-radius: 30%;
    background: variables.$clr-red;
    cursor: pointer;
    object-fit: contain;
    padding: 10px;
}

.prev {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.next {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}